/* Variables */
:root {
   --main-very-light-grey-color: #fafafa;
   --main-light-grey-color: #eaeaeb;
   --main-red-color: #f43030;
   --main-graish-blue-color: #33323d;
   --main-dark-blue-color: #203a4c;
   --main-green-color: #5fb4a2;
}