/* Contact form section start */

.contact-connection {
   padding-bottom: 80px;
}

.contact-connection__inner {
   border-top: 1px solid #dcdcde;
}

.contact-connection__heading {
   font-size: 40px;
   line-height: 42px;
   letter-spacing: -0.357143px;
   color: var(--main-graish-blue-color);
   margin-top: 32px;
   margin-bottom: 24px;
}

.contact-connection__form {
   font-family: "Public Sans", "Arial", sans-serif;
}

.contact-connection__label {
   display: flex;
   flex-direction: column;
   font-weight: 700;
   font-size: 13px;
   line-height: 30px;
   margin-bottom: 24px;
   color: var(--main-graish-blue-color);
   opacity: 0.8;
}

.contact-connection__input {
   font-size: 13px;
   line-height: 30px;
   color: var(--main-graish-blue-color);   
   margin-top: 8px;
   padding: 9px 16px;
   border: none;
   outline: none;
   background-color: #e6e6e7;
   border: 1px solid transparent;
   
   &::placeholder {
      font-size: 13px;
      line-height: 30px;
      color: var(--main-graish-blue-color);
      opacity: 0.4;
   }
   
   &:focus {
      border-color: var(--main-green-color);
   }
}

.contact-connection__error-text {
   font-style: italic;
   font-weight: 700;
   font-size: 10px;
   line-height: 12px;
   margin-top: 4px;
   color: var(--main-red-color);
   display: none;
}

.contact-connection__input:not(:placeholder-shown):not(:focus):invalid {
   color: var(--main-red-color);
   border-color: var(--main-red-color);
}

.contact-connection__input:not(:placeholder-shown):not(:focus):invalid + .contact-connection__error-text {
   display: block;
}

.contact-connection__textarea {
   width: 100%;
   max-width: 635px;
   max-height: 96px;
   font-size: 13px;
   line-height: 30px;
   color: var(--main-graish-blue-color);
   margin-top: 8px;
   padding: 9px 16px;
   border: none;
   outline: none;
   background-color: #e6e6e7;
   border: 1px solid transparent;
   resize: none;
   
   &::placeholder {
      font-size: 13px;
      line-height: 30px;
      color: var(--main-graish-blue-color);
      opacity: 0.4;
   }
   
   &:focus {
      border-color: var(--main-green-color);
   }
   
   &:not(:placeholder-shown):not(:focus):invalid {
      color: var(--main-red-color);
      border-color: var(--main-red-color);
   }
   
   &:not(:placeholder-shown):not(:focus):invalid + .contact-connection__error-text {
      display: block;
   }
}

.contact-connection__btn {
   width: 100%;
   max-width: 200px;
   border: none;
   font-size: 12px;
   line-height: 14px;
   text-align: center;
   letter-spacing: 2px;
   text-transform: uppercase;
   padding: 0;
   padding: 17px;
   color: #FFFFFF;
   background-color: var(--main-dark-blue-color);
   cursor: pointer;
   transition: background-color 0.2s ease;
   
   &:hover {
      background-color: var(--main-green-color);
   }
}

@include mobile-first(768px) {
   .contact-connection {
      padding-bottom: 96px;
   }
   .contact-connection__heading {
      margin-bottom: 32px;
   }
}

@include mobile-first(992px) {
   .contact-connection {
      padding-bottom: 109px;
   }
   .contact-connection__inner {
      display: flex;
      justify-content: space-between;
      padding-top: 48px;
   }
   .contact-connection__heading {
      margin: 0;
   }
   .contact-connection__form {
      width: 100%;
      max-width: 635px;
   }
}